@import '../../static/styles.scss';

.yellow {
    background-color: $yellow;
}

.red {
    background-color:$red;
}

.blue {
    background-color: $blue;
}

.referenceSize {
    height: 40vh;
}

.btn-blue {
    @include btn-info
}

.border-blue {
    @include border-blue
}

.border-yellow {
    @include border-yellow
}

.border-red {
    @include border-red
}

