.btn-info {
    
    color: #9AC9FB!important;
    background-color: #fafafa!important;
    border: 2px solid #9AC9FB!important;
    &:hover {
        background-color: #9AC9FB!important;
        border: 2px solid #9AC9FB!important;
        color: #fafafa!important;
    }
}
.btn-danger {
    color: #DB5752!important;
    background-color: #fafafa!important;
    border: 2px solid #DB5752!important;
    
    &:hover {
        background-color: #DB5752!important;
        border: 2px solid #DB5752!important;
        color: #fafafa!important;
    }
}

.btn-warning {
    color: #000000!important;
    background-color: #fafafa!important;
    border: 2px solid #FAFA88!important;
    
    &:hover {
        background-color: #FAFA88!important;
        border: 2px solid #FAFA88!important;
        color: #000000!important;
    }
}
